body { margin:0; padding:0; }

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

.marker {
	background-image: url('/dist/dot.svg');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

#info_pane {
		position: fixed;
		height: 150px;
		bottom: 10px;
		width: 660px;
		background-color: #fff;
		left: 50%;
		margin-left: -330px;
}

.thumbnail-container {
	width: 30%;
	height: 120px;
	float: left;
	background: #ccc;
	margin-top: 15px;
	margin-left: 15px;
}

.house-info {
	margin-left: 35%;
	margin-right: 15px;
	height: 120px;
	background: #eee;
}
/* https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display */

.detail-info-first-row {
	margin-top: 15px;
	margin-bottom: 0;
}

.detail-info {
	margin-top: 8px;
}